@font-face {
    font-family: 'CustomFont';
    src: url('fonts/custom-font.woff2') format('woff2'),
         url('fonts/custom-font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;
}

.header {
    background: white;
    height: 65px;
    display: flex;
    width: 100%;
    max-width: 1000px;
    font-family: 'Vollkorn', serif;
    font-weight: 400;
}


.nav {
    display: flex;
    align-items: center;
    width: 100%;
}

.nav__menu {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
    font-size: 22px;
}
.nav__menu li {
    display: inline;
}
.nav__menu a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-family: 'SF Pro Display', sans-serif;
}
.logo {
    font-size: 45px;
    font-weight: 400;
    position: absolute;
    font-family: 'Vollkorn', serif;
    left: 50%;
    transform: translateX(-50%);
}
.nav__icons {
    display: flex;
    gap: 15px;
}
.icon {
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.left-group {
    display: flex;
    gap: 15px;
    margin-left: 30px;
}
.right-group {
    display: flex;
    gap: 15px;
    margin-left: auto;
    margin-right: 30px;
}

.hero {
    
}

.hero-image {
    width: 300px;
    height: auto;
    margin-top: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1000px;
    background-color: #DDD8DC;
}

.content-title {
    font-size: 50px;
    width: 425px;
    text-align: center;
    font-weight: 700;
    margin-top: 66px;
    margin-bottom: 0;
}
.content-description {
    width: 680px;
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 45px;
    font-family: 'SF Pro Display', sans-serif;

}
.content-image {
    width: 300px;
    height: auto;
    margin: 20px 247px 26px 247px;
}
.product-section {
    max-width: 1000px;
    width: 100%;
    max-height: 703px;
    height: 100%;
    
}

.product-intro {
    margin: 50px 0 40px 0;
    font-family: 'SF Pro Display', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.product-text {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    width: 630px;
    margin: 0;
}
.product-grid {
    display: flex;
    justify-content: center;
    gap: 26px;
    
}
.product-item {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 13px;
    font-weight: 500;
    max-width: 280px;
    width: 100%;
    
    margin-bottom: 8px;
}

.product-item img {
    width: 100%;
    
}

.product-item p {
    margin-top: 0px;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.product-title {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 7px;
}

.footer {
    background: white;
    width: 100%;
    padding-top: 80px;
    
}
.footer-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    text-decoration: underline;
}
.footer-content {
    display: flex;
    margin-left: 3opx;
    padding-left: 30px;
    align-items: center;
    font-size: 16px;
    color: #333;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 30px;
}

.footer-left {
    max-width: 155px;
    width: 100%;
    align-items: flex-start;
}

.footer-center {
    max-width: 270px;
    width: 100%;
    padding-top: 40px;
    align-items: flex-start;
}

.footer-right {
    padding-top: 40px;
    align-items: flex-end;
    margin-left: auto;
    padding-left: 30px;
    margin-right: 30px;
}


.footer a {
    text-decoration: none;
    color: #000000;
}

.footer a:hover {
    text-decoration: underline;
}

.logo-footer {
margin: 0;
font-size: 20px;
font-family: ;
font-weight: 500px;
margin-bottom: 10px;
padding-top: 10px;
font-family: 'Vollkorn', serif;
}

.footer-text {
    margin: 0;
    font-weight: 400;
    font-family: 'SF Pro Display', sans-serif;
    
}